html {
    scroll-behavior: smooth;
    }
        
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    }

    .text-coffee {
        color: #b98a55;
      }

    .bg-coffee{
        color: #b98a55;
    }