@import "bootstrap/dist/css/bootstrap.min.css";

.text-coffee {
        color: #b98a55;
      }

.bg-coffee{
    background-color: #b98a55;
}

.bg-coffee:hover{
    background-color: rgb(121, 45, 2);
}

.text-a{
    color: white;
}

.text-a:hover{
    color: #b98a55;
}

.ff-popins{
    font-family: "Poppins", sans-serif;
}

.bg-coffe{
    background-color: #b98a55;
}

.btn-custom {
    background-color: #b98a55;
    border-color: #b98a55;
    color: white;
}

.btn-coffe {
    color: white;
    background: #b98a55 ;
    border: none;
}

.btn-coffe:hover {
    background-color: #218838;
}

.btn-custom:hover {
    background-color: rgb(121, 45, 2);
}

.bg-grey{
    background: #393E46;
}

.bg-dark-grey{
    background: #222831;
}

.me-custom{
    margin-right: 400px ;
}

.p-custom{
    padding-top: 7%;
}

.shadow-custom{
    box-shadow: black;
}

.mb-7 {
    margin-bottom: 60px !important;
}
